interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch37&chromosome=4&position=113568536&reference=G&alternative=GA
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch37","chromosome":"4","position":113568536,"reference":"G","alternative":"GA","hgnc_id":null},"result":[{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_symbol":"LARP7","gene_id":"HGNC:24912","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_001267039.2","feature_biotype":"Coding","feature_tag":[],"rank":{"ord":9,"total":15},"hgvs_t":"c.855dupA","hgvs_p":"p.R286Tfs*5","tx_pos":{"ord":1141,"total":2315},"cds_pos":{"ord":855,"total":1770},"protein_pos":{"ord":286,"total":590},"distance":0,"messages":null},{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_symbol":"LARP7","gene_id":"HGNC:24912","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_001370974.1","feature_biotype":"Coding","feature_tag":[],"rank":{"ord":7,"total":13},"hgvs_t":"c.834dupA","hgvs_p":"p.R279Tfs*5","tx_pos":{"ord":933,"total":2146},"cds_pos":{"ord":834,"total":1788},"protein_pos":{"ord":279,"total":596},"distance":0,"messages":null},{"consequences":["frameshift_variant"],"putative_impac[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/genes/txs?hgncId=HGNC:24912&genomeBuild=GENOME_BUILD_GRCH37
  response:
    body:
      string: '{"transcripts":[{"id":"NM_001267039.2","geneSymbol":"LARP7","geneId":"HGNC:24912","biotype":"TRANSCRIPT_BIOTYPE_CODING","protein":"NP_001253968.1","startCodon":286,"stopCodon":2056,"genomeAlignments":[{"genomeBuild":"GENOME_BUILD_GRCH37","contig":"NC_000004.11","cdsStart":113565625,"cdsEnd":113578483,"strand":"STRAND_PLUS","exons":[{"altStartI":113558298,"altEndI":113558395,"altCdsStartI":1,"altCdsEndI":97,"cigar":"97M"},{"altStartI":113558799,"altEndI":113558943,"ord":1,"altCdsStartI":98,"altCdsEndI":241,"cigar":"144M"},{"altStartI":113565580,"altEndI":113565644,"ord":2,"altCdsStartI":242,"altCdsEndI":305,"cigar":"64M"},{"altStartI":113565823,"altEndI":113566027,"ord":3,"altCdsStartI":306,"altCdsEndI":509,"cigar":"204M"},{"altStartI":113567506,"altEndI":113567607,"ord":4,"altCdsStartI":510,"altCdsEndI":610,"cigar":"101M"},{"altStartI":113567743,"altEndI":113567827,"ord":5,"altCdsStartI":611,"altCdsEndI":[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_004360.3:c.1085delT&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"16","pos":68846113,"reference_deleted":"GT","alternate_inserted":"G"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch37&chromosome=16&position=68846113&reference=GT&alternative=G
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch37","chromosome":"16","position":68846113,"reference":"GT","alternative":"G","hgnc_id":null},"result":[{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_sym[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_000152.4:c.525delT&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"17","pos":78078909,"reference_deleted":"CT","alternate_inserted":"C"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch37&chromosome=17&position=78078909&reference=CT&alternative=C
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch37","chromosome":"17","position":78078909,"reference":"CT","alternative":"C","hgnc_id":null},"result":[{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_sym[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/genes/txs?hgncId=HGNC:4065&genomeBuild=GENOME_BUILD_GRCH37
  response:
    body:
      string: '{"transcripts":[{"id":"NM_000152.5","geneSymbol":"GAA","geneId":"HGNC:4065","biotype":"TRANSCRIPT_BIOTYPE_CODING","tags":["TRANSCRIPT_TAG_MANE_SELECT","TRANSCRIPT_TAG_REF_SEQ_SELECT"],"protein":"NP_000143.2","startCodon":342,"stopCodon":3201,"genomeAlignments":[{"genomeBuild":"GENOME_BUILD_GRCH37","contig":"NC_000017.10","cdsStart":78078385,"cdsEnd":78093130,"strand":"STRAND_PLUS","exons":[{"altStartI":78075379,"altEndI":78075689,"altCdsStartI":1,"altCdsEndI":310,"cigar":"310M"},{"altStartI":78078353,"altEndI":78078931,"ord":1,"altCdsStartI":311,"altCdsEndI":888,"cigar":"578M"},{"altStartI":78079547,"altEndI":7807[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_000152.4:c.1987delC&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"17","pos":78086770,"reference_deleted":"AC","alternate_inserted":"A"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch37&chromosome=17&position=78086770&reference=AC&alternative=A
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch37","chromosome":"17","position":78086770,"reference":"AC","alternative":"A","hgnc_id":null},"result":[{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_sym[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_000152.4:c.2706delG&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"17","pos":78092510,"reference_deleted":"AG","alternate_inserted":"A"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch37&chromosome=17&position=78092510&reference=AG&alternative=A
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch37","chromosome":"17","position":78092510,"reference":"AG","alternative":"A","hgnc_id":null},"result":[{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_sym[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_000218.2:c.567dupG&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"11","pos":2591942,"reference_deleted":"T","alternate_inserted":"TG"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch37&chromosome=11&position=2591942&reference=T&alternative=TG
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch37","chromosome":"11","position":2591942,"reference":"T","alternative":"TG","hgnc_id":null},"result":[{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_symbol":"KCNQ1","gene_id":"HGNC:6294","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_000218.3","feature_biotype":"Coding","feature_tag":["ManeSelect"],"rank":{"ord":3,"total":16},"hgvs_t":"c.567dupG","hgvs_p":"p.R190Afs*95","tx_pos":{"ord":658,"total":3224},"cds_pos":{"ord":567,"total":2031},"protein_pos":{"ord":190,"total":677},"distance":0,"messages":null},{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_symbol":"KCNQ1","gene_id":"HGNC:6294","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_181798.1","feature_biotype":"Coding","feature_tag":[],"rank":{"ord":3,"total":16},"hgvs_t":"c.186dupG","hgvs_p":"p.R63Afs*95","tx_pos":{"ord":442,"total":3013},"cds_pos":{"ord":186,"total":1650},"protein_pos":{"ord":63,"total":550},"distance":0,"messages":null}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_000218.2:c.1343dupC&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"11","pos":2610028,"reference_deleted":"A","alternate_inserted":"AC"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch37&chromosome=11&position=2610028&reference=A&alternative=AC
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch37","chromosome":"11","position":2610028,"reference":"A","alternative":"AC","hgnc_id":null},"result":[{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_symbol":"KCNQ1","gene_id":"HGNC:6294","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_000218.3","feature_biotype":"Coding","feature_tag":["ManeSelect"],"rank":{"ord":10,"total":16},"hgvs_t":"c.1343dupC","hgvs_p":"p.E449Rfs*14","tx_pos":{"ord":1434,"total":3224},"cds_pos":{"ord":1343,"total":2031},"protein_pos":{"ord":449,"total":677},"distance":0,"messages":null},{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_symbol":"KCNQ1","gene_id":"HGNC:6294","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_181798.1","feature_biotype":"Coding","feature_tag":[],"rank":{"ord":10,"total":16},"hgvs_t":"c.962dupC","hgvs_p":"p.E322Rfs*14","tx_pos":{"ord":1218,"total":3013},"cds_pos":{"ord":962,"total":1650},"protein_pos":{"ord":322,"total":550},"distance":0,"messages":null}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_000441.1:c.365dupT&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"7","pos":107312637,"reference_deleted":"C","alternate_inserted":"CT"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch37&chromosome=7&position=107312637&reference=C&alternative=CT
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch37","chromosome":"7","position":107312637,"reference":"C","alternative":"CT","hgnc_id":null},"result":[{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_symbol":"SLC26A4","gene_id":"HGNC:8818","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_000441.2","feature_biotype":"Coding","feature_tag":["ManeSelect"],"rank":{"ord":4,"total":21},"hgvs_t":"c.365dupT","hgvs_p":"p.I124Yfs*58","tx_pos":{"ord":396,"total":4737},"cds_pos":{"ord":365,"total":2343},"protein_pos":{"ord":124,"total":781},"distance":0,"messages":null}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_206933.2:c.4338_4339delCT&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"1","pos":216363621,"reference_deleted":"CAG","alternate_inserted":"C"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch37&chromosome=1&position=216363621&reference=CAG&alternative=C
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch37","chromosome":"1","position":216363621,"reference":"CAG","alternative":"C","hgnc_id":null},"result":[{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_symbol":"USH2A","gene_id":"HGNC:12601","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_007123.6","feature_biotype":"Coding","feature_tag":[],"rank":{"ord":20,"total":21},"hgvs_t":"c.4338_4339delCT","hgvs_p":"p.C1447Qfs*29","tx_pos":{"ord":4777,"total":6372},"cds_pos":{"ord":4338,"total":4641},"protein_pos":{"ord":1447,"total":1547},"distance":0,"messages":null},{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_symbol":"USH2A","gene_id":"HGNC:12601","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_206933.4","feature_biotype":"Coding","feature_tag":["ManeSelect"],"rank":{"ord":20,"total":72},"hgvs_t":"c.4338_4339delCT","hgvs_p":"p.C1447Qfs*29","tx_pos":{"ord":4777,"total":18938},"cds_pos":{"ord":4338,"total":15609},"protein_pos":{"ord":1447,"total":5203},"distance":0,"messages":null}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_206933.2:c.4510dupA&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"1","pos":216348710,"reference_deleted":"C","alternate_inserted":"CT"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_004004.5:c.235delC&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"13","pos":20763485,"reference_deleted":"AG","alternate_inserted":"A"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_004004.5:c.35delG&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"13","pos":20763685,"reference_deleted":"AC","alternate_inserted":"A"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch37&chromosome=13&position=20763553&reference=CA&alternative=C
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch37","chromosome":"13","position":20763553,"reference":"CA","alternative":"C","hgnc_id":null},"result":[{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_symbol":"GJB2","gene_id":"HGNC:4284","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_004004.6","feature_biotype":"Coding","feature_tag":["ManeSelect"],"rank":{"ord":2,"total":2},"hgvs_t":"c.167delT","hgvs_p":"p.L56Rfs*26","tx_pos":{"ord":345,"total":2290},"cds_pos":{"ord":167,"total":681},"protein_pos":{"ord":56,"total":227},"distance":0,"messages":null}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_000277.1:c.822_832del&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"12","pos":103246602,"reference_deleted":"GTATACATGGGC","alternate_inserted":"G"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch37&chromosome=12&position=103246602&reference=GTATACATGGGC&alternative=G
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch37","chromosome":"12","position":103246602,"reference":"GTATACATGGGC","alternative":"G","hgnc_id":null},"result":[{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_symbol":"PAH","gene_id":"HGNC:8582","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_000277.3","feature_biotype":"Coding","feature_tag":["ManeSelect"],"rank":{"ord":7,"total":13},"hgvs_t":"c.822_832delGCCCATGTATA","hgvs_p":"p.K274Nfs*5","tx_pos":{"ord":936,"total":3759},"cds_pos":{"ord":822,"total":1359},"protein_pos":{"ord":274,"total":453},"distance":0,"messages":null},{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_symbol":"PAH","gene_id":"HGNC:8582","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_001354304.2","feature_biotype":"Coding","feature_tag":[],"rank":{"ord":8,"total":14},"hgvs_t":"c.822_832delGCCCATGTATA","hgvs_p":"p.K274Nfs*5","tx_pos":{"ord":1164,"total":3987},"cds_pos":{"ord":822,"total":1359},"protein_pos":{"ord":274,"total":453},"distance":0,"messages":null}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch37&chromosome=12&position=103248987&reference=TG&alternative=T
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch37","chromosome":"12","position":103248987,"reference":"TG","alternative":"T","hgnc_id":null},"result":[{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_symbol":"PAH","gene_id":"HGNC:8582","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_000277.3","feature_biotype":"Coding","feature_tag":["ManeSelect"],"rank":{"ord":6,"total":13},"hgvs_t":"c.632delC","hgvs_p":"p.P211Hfs*130","tx_pos":{"ord":746,"total":3759},"cds_pos":{"ord":632,"total":1359},"protein_pos":{"ord":211,"total":453},"distance":0,"messages":null},{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_symbol":"PAH","gene_id":"HGNC:8582","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_001354304.2","feature_biotype":"Coding","feature_tag":[],"rank":{"ord":7,"total":14},"hgvs_t":"c.632delC","hgvs_p":"p.P211Hfs*130","tx_pos":{"ord":974,"total":3987},"cds_pos":{"ord":632,"total":1359},"protein_pos":{"ord":211,"total":453},"distance":0,"messages":null}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_000314.6:c.50_51delAA&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"10","pos":89624275,"reference_deleted":"CAA","alternate_inserted":"C"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch37&chromosome=10&position=89624275&reference=CAA&alternative=C
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch37","chromosome":"10","position":89624275,"reference":"CAA","alternative":"C","hgnc_id":null},"result":[{"consequences":["frameshift_variant"],"putative_impact":"HIGH","gene_s[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_000277.2:c.1147C%3ET&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"12","pos":103237476,"reference_deleted":"G","alternate_inserted":"A"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch37&chromosome=12&position=103237476&reference=G&alternative=A
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch37","chromosome":"12","position":103237476,"reference":"G","alternative":"A","hgnc_id":null},"result":[{"consequences":["stop_gained"],"putative_impact":"HIGH","gene_symbol":"PAH","gene_id":"HGNC:8582","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_000277.3","feature_biotype":"Coding","feature_tag":["ManeSelect"],"rank":{"ord":11,"total":13},"hgvs_t":"c.1147C>T","hgvs_p":"p.Q383*","tx_pos":{"ord":1261,"total":3759},"cds_pos":{"ord":1147,"total":1359},"protein_pos":{"ord":383,"total":453},"distance":0,"messages":null},{"consequences":["stop_gained"],"putative_impact":"HIGH","gene_symbol":"PAH","gene_id":"HGNC:8582","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_001354304.2","feature_biotype":"Coding","feature_tag":[],"rank":{"ord":12,"total":14},"hgvs_t":"c.1147C>T","hgvs_p":"p.Q383*","tx_pos":{"ord":1489,"total":3987},"cds_pos":{"ord":1147,"total":1359},"protein_pos":{"ord":383,"total":453},"distance":0,"messages":null}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch37&chromosome=16&position=68855984&reference=C&alternative=T
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch37","chromosome":"16","position":68855984,"reference":"C","alternative":"T","hgnc_id":null},"result":[{"consequences":["stop_gained"],"putative_impact":"HIGH","gene_symbol":"CDH[...]
[...]
