.github
.ipynb_checkpoints
.vscode
.idea
.mypy_cache
.pytest_cache
__pycache__
.ruff_cache
cache/
cache/**
/*.ipynb
src/bench/tmp/*.csv
*.~lock.*
.DS_Store
tmp/
docs/
*.md
build/
tests/
*.pyc
*.env
src/bench/
