.github
.ipynb_checkpoints
.vscode
.idea
.git
.gitignore
.gitattributes
.mypy_cache
.pytest_cache
__pycache__
.ruff_cache
cache/
cache/**
/*.ipynb
src/bench/tmp/*.csv
*.~lock.*
.DS_Store
*.json
*.so
*.log
temp/
tmp/
docs/
*.md
build/
*.egg-info
*.egg
tests/
*.pyc
*.env
src/bench/
