[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
aiohttp = "*"
pydantic = "*"
pydantic-settings = "*"

[dev-packages]
pytest = "*"
aioresponses = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.12"
