[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pydantic = "*"
pydantic-settings = "*"
sphinx = "*"
datamodel-code-generator = "*"
requests = "*"
responses = "*"

[dev-packages]
debugpy = "*"
pytest = "*"
aioresponses = "*"
pytest-asyncio = "*"
sphinx = "*"
sphinxcontrib-bibtex = "*"
furo = "*"
types-requests = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
