[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
build = "*"
pydantic = "*"
pydantic-settings = "*"
typer = "*"
setuptools = "*"
loguru = "*"
typing-extensions = "*"
msgpack = "*"
seqrepo = "*"
pytabix = "*"
httpx = "*"

[dev-packages]
mypy = "*"
datamodel-code-generator = "*"
debugpy = "*"
isort = "*"
flake8 = "*"
black = "*"
pytest = "*"
sphinx = "*"
sphinxcontrib-bibtex = "*"
sphinxawesome-theme = "*"
pytest-cov = "*"
genebe = "*"
cyvcf2 = "*"
mmh3 = "*"
jupyterlab = "*"
pandas = "*"
pandas-stubs = "*"
matplotlib = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
pytest-env = "*"
pytest-httpx = "*"

[requires]
python_version = "3.12"
