interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_000277.2(PAH):c.865G%3EC&assembly=GRCh38
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh38","contig":"12","pos":102851734,"reference_deleted":"C","alternate_inserted":"G"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/annonars/annos/variant?genome_release=grch38&chromosome=12&pos=102851734&reference=C&alternative=G
  response:
    body:
      string: '{"server_version":"0.39.0","query":{"genome_release":"grch38","chromosome":"12","pos":102851734,"reference":"C","alternative":"G"},"result":{"cadd":{"Chrom":"12","Pos":102851734,"Ref":"C","Alt":"G","Type":"SNV","Length":0,"AnnoType":"CodingTranscript","Consequence":"NON_SYNONYMOUS","ConsScore":7,"ConsDetail":"missense","GC":0.497,"CpG":0.027,"motifECount":null,"motifEName":null,"motifEHIPos":null,"motifEScoreChng":null,"oAA":"G","nAA":"R","GeneID":"ENSG00000171759","FeatureID":"ENST00000553106","GeneName":"PAH","CCDS":"CCDS9092.1","Intron":null,"Exon":"8/13","cDNApos":1338,"relcDNApos":0.325,"CDSpos":865,"relCDSpos":0.636,"protPos":289,"relProtPos":0.639,"Domain":"ndomain","Dst2Splice":null,"Dst2SplType":null,"minDistTSS":527,"minDistTSE":11221,"SIFTcat":"deleterious","SIFTval":0.0,"PolyPhenCat":"probably_damaging","PolyPhenVal":1.0,"priPhCons":0.995,"mamPhCons":1.0,"verPhCons":1.0,"priPhyloP":0.418,"mamPhyloP":2.907,"verPhyloP":7.213,"bStatistic":514,"targetScan":null,"mirSVR-Score":null,"mirSVR-E":null,"mirSVR-Aln":null,"cHmm_E1":0.0,"cHmm_E2":0.0,"cHmm_E3":2.0,"cHmm_E4":32.0,"cHmm_E5":0.0,"cHmm_E6":0.0,"cHmm_E7":1.0,"cHmm_E8":0.0,"cHmm_E9":0.0,"cHmm_E10":1.0,"cHmm_E11":0.0,"cHmm_E12":0.0,"cHmm_E13":0.0,"cHmm_E14":0.0,"cHmm_E15":7.0,"cHmm_E16":0.0,"cHmm_E17":0.0,"cHmm_E18":0.0,"cHmm_E19":0.0,"cHmm_E20":0.0,"cHmm_E21":4.0,"cHmm_E22":1.0,"cHmm_E23":0.0,"cHmm_E24":0.0,"cHmm_E25":0.0,"GerpRS":434.16,"GerpRSpval":7.63454e-78,"GerpN":6.54,"GerpS":6.54,"tOverlapMotifs":null,"motifDist":null,"EncodeH3K4me1-sum":7.8,"EncodeH3K4me1-max":3.36,"EncodeH3K4me2-sum":5.98,"EncodeH3K4me2-max":2.21,"EncodeH3K4me3-sum":7.12,"EncodeH3K4me3-max":1.65,"EncodeH3K9ac-sum":6.47,"EncodeH3K9ac-max":1.38,"EncodeH3K9me3-sum":13.82,"EncodeH3K9me3-max":5.13,"EncodeH3K27ac-sum":3.16,"EncodeH3K27ac-max":0.88,"EncodeH3K27me3-sum":17.85,"EncodeH3K27me3-max":5.17,"EncodeH3K36me3-sum":9.89,"EncodeH3K36me3-max":6.85,"EncodeH3K79me2-sum":3.34,"EncodeH3K79me2-max":0.82,"EncodeH4K20me1-sum":9.14,"EncodeH4K20me1-max":1.58,"EncodeH2AFZ-sum":5.52,"EncodeH2AFZ-max":1.24,"EncodeDNase-sum":0.27,"EncodeDNase-max":0.05,"EncodetotalRNA-sum":6.66,"EncodetotalRNA-max":6.65,"Grantham":125,"SpliceAI-acc-gain":0.0,"SpliceAI-acc-loss":0.0,"SpliceAI-don-gain":0.05,"SpliceAI-don-loss":0.0,"MMSp_acceptorIntron":0.0,"MMSp_acceptor":0.0,"MMSp_exon":0.262,"MMSp_donor":0.0,"MMSp_donorIntron":0.0,"Dist2Mutation":9,"Freq100bp":0,"Rare100bp":0,"Sngl100bp":12,"Freq1000bp":1,"Rare1000bp":7,"Sngl1000bp":118,"Freq10000bp":28,"Rare10000bp":78,"Sngl10000bp":1262,"EnsembleRegulatoryFeature":null,"dbscSNV-ada_score":null,"dbscSNV-rf_score":null,"RemapOverlapTF":1,"RemapOverlapCL":1,"RawScore":4.089162,"PHRED":27.7},"dbsnp":{"chrom":"12","pos":102851734,"refAllele":"C","altAllele":"G","rsId":199475693},"dbnsfp":{"chr":"12","pos(1-based)":102851734,"ref":"C","alt":"G","aaref":"G","aaalt":"R","rs_dbSNP":"rs199475693","hg19_chr":"12","hg19_pos(1-based)":103245512,"hg18_chr":"12","hg18_pos(1-based)":101769642,"aapos":"289;284","genename":"PAH;PAH","Ensembl_geneid":"ENSG00000171759;ENSG00000171759","Ensembl_transcriptid":"ENST00000553106;ENST00000307000","Ensembl_proteinid":"ENSP00000448059;ENSP00000303500","Uniprot_acc":"P00439;J3KND8","Uniprot_entry":"PH4H_HUMAN;J3KND8_HUMAN","HGVSc_ANNOVAR":"c.865G>C;c.850G>C","HGVSp_ANNOVAR":"p.G289R;p.G284R","HGVSc_snpEff":"c.865G>C;c.850G>C","HGVSp_snpEff":"p.Gly289Arg;p.Gly284Arg","HGVSc_VEP":"c.865G>C;c.850G>C","HGVSp_VEP":"p.Gly289Arg;p.Gly284Arg","APPRIS":"principal1;.","GENCODE_basic":"Y;Y","TSL":"1;5","VEP_canonical":"YES;.","cds_strand":"-;-","refcodon":"GGA;GGA","codonpos":"1;1","codon_degeneracy":"0;0","Ancestral_allele":"C","AltaiNeandertal":"C/C","Denisova":"C/C","VindijiaNeandertal":"C/C","ChagyrskayaNeandertal":"C/C","SIFT_score":"0.0;0.0","SIFT_converted_rankscore":0.91255,"SIFT_pred":"D;D","SIFT4G_score":"0.012;0.012","SIFT4G_converted_rankscore":0.63918,"SIFT4G_pred":"D;D","Polyphen2_HDIV_score":"1.0;.","Polyphen2_HDIV_rankscore":0.90584,"Polyphen2_HDIV_pred":"D;.","Polyphen2_HVAR_score":"1.0;.","Polyphen2_HVAR_rankscore":0.97372,"Polyphen2_HVAR_pred":"D;.","LRT_score":0.0,"LRT_converted_rankscore":0.8433,"LRT_pred":"D","LRT_Omega":0.048453,"MutationTaster_score":"1;1","MutationTaster_converted_rankscore":0.81001,"MutationTaster_pred":"D;D","MutationTaster_model":"simple_aae;simple_aae","MutationTaster_AAE":"G289R;G284R","MutationAssessor_score":"4.855;.","MutationAssessor_rankscore":0.99725,"MutationAssessor_pred":"H;.","FATHMM_score":"-7.98;-7.98","FATHMM_converted_rankscore":0.99912,"FATHMM_pred":"D;D","PROVEAN_score":"-7.8;-7.8","PROVEAN_converted_rankscore":0.95924,"PROVEAN_pred":"D;D","VEST4_score":"0.997;0.997","VEST4_rankscore":0.99973,"MetaSVM_score":0.919,"MetaSVM_rankscore":0.95944,"MetaSVM_pred":"D","MetaLR_score":0.9979,"MetaLR_rankscore":0.99947,"MetaLR_pred":"D","Reliability_index":10,"MetaRNN_score":"0.9940733;0.9940733","MetaRNN_rankscore":0.9992,"MetaRNN_pred":"D;D","M-CAP_score":0.868753,"M-CAP_rankscore":0.98995,"M-CAP_pred":"D","REVEL_score":"0.980;0.980","REVEL_rankscore":0.99858,"MutPred_score":"0.966;.;","MutPred_rankscore":0.99667,"MutPred_protID":"P00439;.;","MutPred_AAchange":"G289R;.;","MutPred_Top5features":"Loss
        of catalytic residue at H290 (P = 0.0783);.;","MVP_score":"0.990970593145;0.990970593145","MVP_rankscore":0.99087,"gMVP_score":"0.9970097162635339;.","gMVP_rankscore":0.99698,"MPC_score":"0.254964693077;.","MPC_rankscore":0.28073,"PrimateAI_score":0.913266539574,"PrimateAI_rankscore":0.9777,"PrimateAI_pred":"D","DEOGEN2_score":"0.997918;0.882962","DEOGEN2_rankscore":0.99998,"DEOGEN2_pred":"D;D","BayesDel_addAF_score":0.575066,"BayesDel_addAF_rankscore":0.96914,"BayesDel_addAF_pred":"D","BayesDel_noAF_score":0.588266,"BayesDel_noAF_rankscore":0.96863,"BayesDel_noAF_pred":"D","ClinPred_score":0.999503493309021,"ClinPred_rankscore":0.97675,"ClinPred_pred":"D","LIST-S2_score":"0.993001;0.993001","LIST-S2_rankscore":0.9772,"LIST-S2_pred":"D;D","VARITY_R_score":"0.9915503;.","VARITY_R_rankscore":0.9984,"VARITY_ER_score":"0.97260725;.","VARITY_ER_rankscore":0.99573,"VARITY_R_LOO_score":"0.9936119;.","VARITY_R_LOO_rankscore":0.99922,"VARITY_ER_LOO_score":"0.9494704;.","VARITY_ER_LOO_rankscore":0.98368,"ESM1b_score":"-4.204;.","ESM1b_rankscore":0.49326,"ESM1b_pred":"T;.","EVE_score":"0.9244093412277758;.","EVE_rankscore":0.96778,"EVE_Class10_pred":"P;.","EVE_Class20_pred":"P;.","EVE_Class25_pred":"P;.","EVE_Class30_pred":"P;.","EVE_Class40_pred":"P;.","EVE_Class50_pred":"P;.","EVE_Class60_pred":"P;.","EVE_Class70_pred":"P;.","EVE_Class75_pred":"P;.","EVE_Class80_pred":"P;.","EVE_Class90_pred":"P;.","AlphaMissense_score":"0.992;0.992","AlphaMissense_rankscore":0.94272,"AlphaMissense_pred":"P;P","Aloft_Fraction_transcripts_affected":".;.;","Aloft_prob_Tolerant":".;.;","Aloft_prob_Recessive":".;.;","Aloft_prob_Dominant":".;.;","Aloft_pred":".;.;","Aloft_Confidence":".;.;","CADD_raw":4.089162,"CADD_raw_rankscore":0.81717,"CADD_phred":27.7,"CADD_raw_hg19":4.246035,"CADD_raw_rankscore_hg19":0.89167,"CADD_phred_hg19":29.8,"DANN_score":0.9994371480335028,"DANN_rankscore":0.99868,"fathmm-MKL_coding_score":0.97686,"fathmm-MKL_coding_rankscore":0.76409,"fathmm-MKL_coding_pred":"D","fathmm-MKL_coding_group":"AEFBCI","fathmm-XF_coding_score":0.978112,"fathmm-XF_coding_rankscore":0.99753,"fathmm-XF_coding_pred":"D","Eigen-raw_coding":1.07218693216396,"Eigen-raw_coding_rankscore":0.97585,"Eigen-phred_coding":16.38414,"Eigen-PC-raw_coding":0.978781454342417,"Eigen-PC-raw_coding_rankscore":0.98173,"Eigen-PC-phred_coding":17.59919,"GenoCanyon_score":0.999999999971142,"GenoCanyon_rankscore":0.74766,"integrated_fitCons_score":0.638212,"integrated_fitCons_rankscore":0.43195,"integrated_confidence_value":0,"GM12878_fitCons_score":0.59043,"GM12878_fitCons_rankscore":0.45803,"GM12878_confidence_value":0,"H1-hESC_fitCons_score":0.653264,"H1-hESC_fitCons_rankscore":0.51672,"H1-hESC_confidence_value":0,"HUVEC_fitCons_score":0.564101,"HUVEC_fitCons_rankscore":0.26826,"HUVEC_confidence_value":0,"LINSIGHT":null,"LINSIGHT_rankscore":null,"GERP++_NR":5.51,"GERP++_RS":5.51,"GERP++_RS_rankscore":0.81769,"phyloP100way_vertebrate":7.568,"phyloP100way_vertebrate_rankscore":0.81546,"phyloP470way_mammalian":7.683,"phyloP470way_mammalian_rankscore":0.65396,"phyloP17way_primate":0.599,"phyloP17way_primate_rankscore":0.4025,"phastCons100way_vertebrate":1.0,"phastCons100way_vertebrate_rankscore":0.71638,"phastCons470way_mammalian":1.0,"phastCons470way_mammalian_rankscore":0.68203,"phastCons17way_primate":0.998,"phastCons17way_primate_rankscore":0.85391,"SiPhy_29way_pi":"0.0:1.0:0.0:0.0","SiPhy_29way_logOdds":19.7791,"SiPhy_29way_logOdds_rankscore":0.96406,"bStatistic":514,"bStatistic_converted_rankscore":0.74853,"1000Gp3_AC":null,"1000Gp3_AF":null,"1000Gp3_AFR_AC":null,"1000Gp3_AFR_AF":null,"1000Gp3_EUR_AC":null,"1000Gp3_EUR_AF":null,"1000Gp3_AMR_AC":null,"1000Gp3_AMR_AF":null,"1000Gp3_EAS_AC":null,"1000Gp3_EAS_AF":null,"1000Gp3_SAS_AC":null,"1000Gp3_SAS_AF":null,"TWINSUK_AC":null,"TWINSUK_AF":null,"ALSPAC_AC":null,"ALSPAC_AF":null,"UK10K_AC":null,"UK10K_AF":null,"ESP6500_AA_AC":null,"ESP6500_AA_AF":null,"ESP6500_EA_AC":null,"ESP6500_EA_AF":null,"ExAC_AC":null,"ExAC_AF":null,"ExAC_Adj_AC":null,"ExAC_Adj_AF":null,"ExAC_AFR_AC":null,"ExAC_AFR_AF":null,"ExAC_AMR_AC":null,"ExAC_AMR_AF":null,"ExAC_EAS_AC":null,"ExAC_EAS_AF":null,"ExAC_FIN_AC":null,"ExAC_FIN_AF":null,"ExAC_NFE_AC":null,"ExAC_NFE_AF":null,"ExAC_SAS_AC":null,"ExAC_SAS_AF":null,"ExAC_nonTCGA_AC":null,"ExAC_nonTCGA_AF":null,"ExAC_nonTCGA_Adj_AC":null,"ExAC_nonTCGA_Adj_AF":null,"ExAC_nonTCGA_AFR_AC":null,"ExAC_nonTCGA_AFR_AF":null,"ExAC_nonTCGA_AMR_AC":null,"ExAC_nonTCGA_AMR_AF":null,"ExAC_nonTCGA_EAS_AC":null,"ExAC_nonTCGA_EAS_AF":null,"ExAC_nonTCGA_FIN_AC":null,"ExAC_nonTCGA_FIN_AF":null,"ExAC_nonTCGA_NFE_AC":null,"ExAC_nonTCGA_NFE_AF":null,"ExAC_nonTCGA_SAS_AC":null,"ExAC_nonTCGA_SAS_AF":null,"ExAC_nonpsych_AC":null,"ExAC_nonpsych_AF":null,"ExAC_nonpsych_Adj_AC":null,"ExAC_nonpsych_Adj_AF":null,"ExAC_nonpsych_AFR_AC":null,"ExAC_nonpsych_AFR_AF":null,"ExAC_nonpsych_AMR_AC":null,"ExAC_nonpsych_AMR_AF":null,"ExAC_nonpsych_EAS_AC":null,"ExAC_nonpsych_EAS_AF":null,"ExAC_nonpsych_FIN_AC":null,"ExAC_nonpsych_FIN_AF":null,"ExAC_nonpsych_NFE_AC":null,"ExAC_nonpsych_NFE_AF":null,"ExAC_nonpsych_SAS_AC":null,"ExAC_nonpsych_SAS_AF":null,"gnomAD_exomes_flag":null,"gnomAD_exomes_AC":null,"gnomAD_exomes_AN":null,"gnomAD_exomes_AF":null,"gnomAD_exomes_nhomalt":null,"gnomAD_exomes_AFR_AC":null,"gnomAD_exomes_AFR_AN":null,"gnomAD_exomes_AFR_AF":null,"gnomAD_exomes_AFR_nhomalt":null,"gnomAD_exomes_AMR_AC":null,"gnomAD_exomes_AMR_AN":null,"gnomAD_exomes_AMR_AF":null,"gnomAD_exomes_AMR_nhomalt":null,"gnomAD_exomes_ASJ_AC":null,"gnomAD_exomes_ASJ_AN":null,"gnomAD_exomes_ASJ_AF":null,"gnomAD_exomes_ASJ_nhomalt":null,"gnomAD_exomes_EAS_AC":null,"gnomAD_exomes_EAS_AN":null,"gnomAD_exomes_EAS_AF":null,"gnomAD_exomes_EAS_nhomalt":null,"gnomAD_exomes_FIN_AC":null,"gnomAD_exomes_FIN_AN":null,"gnomAD_exomes_FIN_AF":null,"gnomAD_exomes_FIN_nhomalt":null,"gnomAD_exomes_NFE_AC":null,"gnomAD_exomes_NFE_AN":null,"gnomAD_exomes_NFE_AF":null,"gnomAD_exomes_NFE_nhomalt":null,"gnomAD_exomes_SAS_AC":null,"gnomAD_exomes_SAS_AN":null,"gnomAD_exomes_SAS_AF":null,"gnomAD_exomes_SAS_nhomalt":null,"gnomAD_exomes_POPMAX_AC":null,"gnomAD_exomes_POPMAX_AN":null,"gnomAD_exomes_POPMAX_AF":null,"gnomAD_exomes_POPMAX_nhomalt":null,"gnomAD_exomes_controls_AC":null,"gnomAD_exomes_controls_AN":null,"gnomAD_exomes_controls_AF":null,"gnomAD_exomes_controls_nhomalt":null,"gnomAD_exomes_non_neuro_AC":null,"gnomAD_exomes_non_neuro_AN":null,"gnomAD_exomes_non_neuro_AF":null,"gnomAD_exomes_non_neuro_nhomalt":null,"gnomAD_exomes_non_cancer_AC":null,"gnomAD_exomes_non_cancer_AN":null,"gnomAD_exomes_non_cancer_AF":null,"gnomAD_exomes_non_cancer_nhomalt":null,"gnomAD_exomes_non_topmed_AC":null,"gnomAD_exomes_non_topmed_AN":null,"gnomAD_exomes_non_topmed_AF":null,"gnomAD_exomes_non_topmed_nhomalt":null,"gnomAD_exomes_controls_AFR_AC":null,"gnomAD_exomes_controls_AFR_AN":null,"gnomAD_exomes_controls_AFR_AF":null,"gnomAD_exomes_controls_AFR_nhomalt":null,"gnomAD_exomes_controls_AMR_AC":null,"gnomAD_exomes_controls_AMR_AN":null,"gnomAD_exomes_controls_AMR_AF":null,"gnomAD_exomes_controls_AMR_nhomalt":null,"gnomAD_exomes_controls_ASJ_AC":null,"gnomAD_exomes_controls_ASJ_AN":null,"gnomAD_exomes_controls_ASJ_AF":null,"gnomAD_exomes_controls_ASJ_nhomalt":null,"gnomAD_exomes_controls_EAS_AC":null,"gnomAD_exomes_controls_EAS_AN":null,"gnomAD_exomes_controls_EAS_AF":null,"gnomAD_exomes_controls_EAS_nhomalt":null,"gnomAD_exomes_controls_FIN_AC":null,"gnomAD_exomes_controls_FIN_AN":null,"gnomAD_exomes_controls_FIN_AF":null,"gnomAD_exomes_controls_FIN_nhomalt":null,"gnomAD_exomes_controls_NFE_AC":null,"gnomAD_exomes_controls_NFE_AN":null,"gnomAD_exomes_controls_NFE_AF":null,"gnomAD_exomes_controls_NFE_nhomalt":null,"gnomAD_exomes_controls_SAS_AC":null,"gnomAD_exomes_controls_SAS_AN":null,"gnomAD_exomes_controls_SAS_AF":null,"gnomAD_exomes_controls_SAS_nhomalt":null,"gnomAD_exomes_controls_POPMAX_AC":null,"gnomAD_exomes_controls_POPMAX_AN":null,"gnomAD_exomes_controls_POPMAX_AF":null,"gnomAD_exomes_controls_POPMAX_nhomalt":null,"gnomAD_exomes_non_neuro_AFR_AC":null,"gnomAD_exomes_non_neuro_AFR_AN":null,"gnomAD_exomes_non_neuro_AFR_AF":null,"gnomAD_exomes_non_neuro_AFR_nhomalt":null,"gnomAD_exomes_non_neuro_AMR_AC":null,"gnomAD_exomes_non_neuro_AMR_AN":null,"gnomAD_exomes_non_neuro_AMR_AF":null,"gnomAD_exomes_non_neuro_AMR_nhomalt":null,"gnomAD_exomes_non_neuro_ASJ_AC":null,"gnomAD_exomes_non_neuro_ASJ_AN":null,"gnomAD_exomes_non_neuro_ASJ_AF":null,"gnomAD_exomes_non_neuro_ASJ_nhomalt":null,"gnomAD_exomes_non_neuro_EAS_AC":null,"gnomAD_exomes_non_neuro_EAS_AN":null,"gnomAD_exomes_non_neuro_EAS_AF":null,"gnomAD_exomes_non_neuro_EAS_nhomalt":null,"gnomAD_exomes_non_neuro_FIN_AC":null,"gnomAD_exomes_non_neuro_FIN_AN":null,"gnomAD_exomes_non_neuro_FIN_AF":null,"gnomAD_exomes_non_neuro_FIN_nhomalt":null,"gnomAD_exomes_non_neuro_NFE_AC":null,"gnomAD_exomes_non_neuro_NFE_AN":null,"gnomAD_exomes_non_neuro_NFE_AF":null,"gnomAD_exomes_non_neuro_NFE_nhomalt":null,"gnomAD_exomes_non_neuro_SAS_AC":null,"gnomAD_exomes_non_neuro_SAS_AN":null,"gnomAD_exomes_non_neuro_SAS_AF":null,"gnomAD_exomes_non_neuro_SAS_nhomalt":null,"gnomAD_exomes_non_neuro_POPMAX_AC":null,"gnomAD_exomes_non_neuro_POPMAX_AN":null,"gnomAD_exomes_non_neuro_POPMAX_AF":null,"gnomAD_exomes_non_neuro_POPMAX_nhomalt":null,"gnomAD_exomes_non_cancer_AFR_AC":null,"gnomAD_exomes_non_cancer_AFR_AN":null,"gnomAD_exomes_non_cancer_AFR_AF":null,"gnomAD_exomes_non_cancer_AFR_nhomalt":null,"gnomAD_exomes_non_cancer_AMR_AC":null,"gnomAD_exomes_non_cancer_AMR_AN":null,"gnomAD_exomes_non_cancer_AMR_AF":null,"gnomAD_exomes_non_cancer_AMR_nhomalt":null,"gnomAD_exomes_non_cancer_ASJ_AC":null,"gnomAD_exomes_non_cancer_ASJ_AN":null,"gnomAD_exomes_non_cancer_ASJ_AF":null,"gnomAD_exomes_non_cancer_ASJ_nhomalt":null,"gnomAD_exomes_non_cancer_EAS_AC":null,"gnomAD_exomes_non_cancer_EAS_AN":null,"gnomAD_exomes_non_cancer_EAS_AF":null,"gnomAD_exomes_non_cancer_EAS_nhomalt":null,"gnomAD_exomes_non_cancer_FIN_AC":null,"gnomAD_exomes_non_cancer_FIN_AN":null,"gnomAD_exomes_non_cancer_FIN_AF":null,"gnomAD_exomes_non_cancer_FIN_nhomalt":null,"gnomAD_exomes_non_cancer_NFE_AC":null,"gnomAD_exomes_non_cancer_NFE_AN":null,"gnomAD_exomes_non_cancer_NFE_AF":null,"gnomAD_exomes_non_cancer_NFE_nhomalt":null,"gnomAD_exomes_non_cancer_SAS_AC":null,"gnomAD_exomes_non_cancer_SAS_AN":null,"gnomAD_exomes_non_cancer_SAS_AF":null,"gnomAD_exomes_non_cancer_SAS_nhomalt":null,"gnomAD_exomes_non_cancer_POPMAX_AC":null,"gnomAD_exomes_non_cancer_POPMAX_AN":null,"gnomAD_exomes_non_cancer_POPMAX_AF":null,"gnomAD_exomes_non_cancer_POPMAX_nhomalt":null,"gnomAD_exomes_non_topmed_AFR_AC":null,"gnomAD_exomes_non_topmed_AFR_AN":null,"gnomAD_exomes_non_topmed_AFR_AF":null,"gnomAD_exomes_non_topmed_AFR_nhomalt":null,"gnomAD_exomes_non_topmed_AMR_AC":null,"gnomAD_exomes_non_topmed_AMR_AN":null,"gnomAD_exomes_non_topmed_AMR_AF":null,"gnomAD_exomes_non_topmed_AMR_nhomalt":null,"gnomAD_exomes_non_topmed_ASJ_AC":null,"gnomAD_exomes_non_topmed_ASJ_AN":null,"gnomAD_exomes_non_topmed_ASJ_AF":null,"gnomAD_exomes_non_topmed_ASJ_nhomalt":null,"gnomAD_exomes_non_topmed_EAS_AC":null,"gnomAD_exomes_non_topmed_EAS_AN":null,"gnomAD_exomes_non_topmed_EAS_AF":null,"gnomAD_exomes_non_topmed_EAS_nhomalt":null,"gnomAD_exomes_non_topmed_FIN_AC":null,"gnomAD_exomes_non_topmed_FIN_AN":null,"gnomAD_exomes_non_topmed_FIN_AF":null,"gnomAD_exomes_non_topmed_FIN_nhomalt":null,"gnomAD_exomes_non_topmed_NFE_AC":null,"gnomAD_exomes_non_topmed_NFE_AN":null,"gnomAD_exomes_non_topmed_NFE_AF":null,"gnomAD_exomes_non_topmed_NFE_nhomalt":null,"gnomAD_exomes_non_topmed_SAS_AC":null,"gnomAD_exomes_non_topmed_SAS_AN":null,"gnomAD_exomes_non_topmed_SAS_AF":null,"gnomAD_exomes_non_topmed_SAS_nhomalt":null,"gnomAD_exomes_non_topmed_POPMAX_AC":null,"gnomAD_exomes_non_topmed_POPMAX_AN":null,"gnomAD_exomes_non_topmed_POPMAX_AF":null,"gnomAD_exomes_non_topmed_POPMAX_nhomalt":null,"gnomAD_genomes_flag":null,"gnomAD_genomes_AC":null,"gnomAD_genomes_AN":null,"gnomAD_genomes_AF":null,"gnomAD_genomes_nhomalt":null,"gnomAD_genomes_POPMAX_AC":null,"gnomAD_genomes_POPMAX_AN":null,"gnomAD_genomes_POPMAX_AF":null,"gnomAD_genomes_POPMAX_nhomalt":null,"gnomAD_genomes_AFR_AC":null,"gnomAD_genomes_AFR_AN":null,"gnomAD_genomes_AFR_AF":null,"gnomAD_genomes_AFR_nhomalt":null,"gnomAD_genomes_AMI_AC":null,"gnomAD_genomes_AMI_AN":null,"gnomAD_genomes_AMI_AF":null,"gnomAD_genomes_AMI_nhomalt":null,"gnomAD_genomes_AMR_AC":null,"gnomAD_genomes_AMR_AN":null,"gnomAD_genomes_AMR_AF":null,"gnomAD_genomes_AMR_nhomalt":null,"gnomAD_genomes_ASJ_AC":null,"gnomAD_genomes_ASJ_AN":null,"gnomAD_genomes_ASJ_AF":null,"gnomAD_genomes_ASJ_nhomalt":null,"gnomAD_genomes_EAS_AC":null,"gnomAD_genomes_EAS_AN":null,"gnomAD_genomes_EAS_AF":null,"gnomAD_genomes_EAS_nhomalt":null,"gnomAD_genomes_FIN_AC":null,"gnomAD_genomes_FIN_AN":null,"gnomAD_genomes_FIN_AF":null,"gnomAD_genomes_FIN_nhomalt":null,"gnomAD_genomes_MID_AC":null,"gnomAD_genomes_MID_AN":null,"gnomAD_genomes_MID_AF":null,"gnomAD_genomes_MID_nhomalt":null,"gnomAD_genomes_NFE_AC":null,"gnomAD_genomes_NFE_AN":null,"gnomAD_genomes_NFE_AF":null,"gnomAD_genomes_NFE_nhomalt":null,"gnomAD_genomes_SAS_AC":null,"gnomAD_genomes_SAS_AN":null,"gnomAD_genomes_SAS_AF":null,"gnomAD_genomes_SAS_nhomalt":null,"gnomAD_genomes_controls_and_biobanks_AC":null,"gnomAD_genomes_controls_and_biobanks_AN":null,"gnomAD_genomes_controls_and_biobanks_AF":null,"gnomAD_genomes_controls_and_biobanks_nhomalt":null,"gnomAD_genomes_non_neuro_AC":null,"gnomAD_genomes_non_neuro_AN":null,"gnomAD_genomes_non_neuro_AF":null,"gnomAD_genomes_non_neuro_nhomalt":null,"gnomAD_genomes_non_cancer_AC":null,"gnomAD_genomes_non_cancer_AN":null,"gnomAD_genomes_non_cancer_AF":null,"gnomAD_genomes_non_cancer_nhomalt":null,"gnomAD_genomes_non_topmed_AC":null,"gnomAD_genomes_non_topmed_AN":null,"gnomAD_genomes_non_topmed_AF":null,"gnomAD_genomes_non_topmed_nhomalt":null,"gnomAD_genomes_controls_and_biobanks_AFR_AC":null,"gnomAD_genomes_controls_and_biobanks_AFR_AN":null,"gnomAD_genomes_controls_and_biobanks_AFR_AF":null,"gnomAD_genomes_controls_and_biobanks_AFR_nhomalt":null,"gnomAD_genomes_controls_and_biobanks_AMI_AC":null,"gnomAD_genomes_controls_and_biobanks_AMI_AN":null,"gnomAD_genomes_controls_and_biobanks_AMI_AF":null,"gnomAD_genomes_controls_and_biobanks_AMI_nhomalt":null,"gnomAD_genomes_controls_and_biobanks_AMR_AC":null,"gnomAD_genomes_controls_a[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch38&chromosome=12&position=102851734&reference=C&alternative=G
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch38","chromosome":"12","position":102851734,"reference":"C","alternative":"G","hgnc_id":null},"result":[{"consequences":["missense_variant"],"putative_impact":"MODERATE","gene_symbol":"PAH","gene_id":"HGNC:8582","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_000277.3","feature_biotype":"Coding","feature_tag":["ManeSelect"],"rank":{"ord":8,"total":13},"hgvs_t":"c.865G>C","hgvs_p":"p.G289R","tx_pos":{"ord":979,"total":3759},"cds_pos":{"ord":865,"total":1359},"protein_pos":{"ord":289,"total":453},"distance":0,"messages":null},{"consequences":["missense_variant"],"putative_impact":"MODERATE","gene_symbol":"PAH","gene_id":"HGNC:8582","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_001354304.2","feature_biotype":"Coding","feature_tag":[],"rank":{"ord":9,"total":14},"hgvs_t":"c.865G>C","hgvs_p":"p.G289R","tx_pos":{"ord":1207,"total":3987},"cds_pos":{"ord":865,"total":1359},"protein_pos":{"ord":289,"total":453},"distance":0,"messages":null}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/genes/txs?hgncId=HGNC:8582&genomeBuild=GENOME_BUILD_GRCH38
  response:
    body:
      string: '{"transcripts":[{"id":"NM_000277.3","geneSymbol":"PAH","geneId":"HGNC:8582","biotype":"TRANSCRIPT_BIOTYPE_CODING","tags":["TRANSCRIPT_TAG_MANE_SELECT"],"protein":"NP_000268.1","startCodon":114,"stopCodon":1473,"genomeAlignments":[{"genomeBuild":"GENOME_BUILD_GRCH38","contig":"NC_000012.12","cdsStart":102839174,"cdsEnd":102917130,"strand":"STRAND_MINUS","exons":[{"altStartI":102836888,"altEndI":102839218,"ord":12,"altCdsStartI":1430,"altCdsEndI":3759,"cigar":"2330M"},{"altStartI":102840399,"altEndI":102840515,"ord":11,"altCdsStartI":1314,"altCdsEndI":1429,"cigar":"116M"},{"altStartI":102843645,"altEndI":102843779,"ord":10,"altCdsStartI":1180,"altCdsEndI":1313,"cigar":"134M"},{"altStartI":102844335,"altEndI":102844431,"ord":9,"altCdsStartI":1084,"altCdsEndI":1179,"cigar":"96M"},{"altStartI":102846894,"altEndI":102846951,"ord":8,"altCdsStartI":1027,"altCdsEndI":1083,"cigar":"57M"},{"altStartI":102851686,"altEndI":102851756,"ord":7,"altCdsStartI":957,"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/annonars/annos/variant?genome_release=grch38&chromosome=12&pos=102851734&reference=C&alternative=A
  response:
    body:
      string: '{"server_version":"0.39.0","query":{"genome_release":"grch38","chromosome":"12","pos":102851734,"reference":"C","alternative":"A"},"result":{"cadd":{"Chrom":"12","Pos":102851734,"Ref":"C","Alt":"A","Type":"SNV","Length":0,"AnnoType":"CodingTranscript","Con[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/annonars/annos/variant?genome_release=grch38&chromosome=12&pos=102851734&reference=C&alternative=C
  response:
    body:
      string: '{"server_version":"0.39.0","query":{"genome_release":"grch38","chromosome":"12","pos":102851734,"reference":"C","alternative":"C"},"result":{"cadd":null,"dbsnp":null,"dbnsfp":null,"dbscsnv":null,"gnomad_mtdna":null,"gnomad_exomes":null,"gnomad_genomes":null,"helixmtdb":null,"ucsc_conservation":[{"records":[{"chrom":"chr12","start":102851732,"stop":102851732,"hgncId":"HGNC:8582","enstId":"ENST00000307000","exonNum":8,"exonCount":13,"alignment":"GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG-"},{"chrom":"chr12","start":102851732,"stop":102851732,"hgncId":"HGNC:8582","enstId":"ENST00000553106","exonNum":8,"exonCount":13,"alignment":"GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG-"}]},{"records":[{"chrom":"chr12","start":102851733,"stop":102851733,"hgncId":"HGNC:8582","enstId":"ENST00000635477","exonNum":2,"exonCount":6,"alignment":"GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGRRGWRRRRGRRRRRRRRRRRRRGRWWGGGGGGGGGGGGRGG-"}]}],"clinvar":null}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/annonars/annos/variant?genome_release=grch38&chromosome=12&pos=102851734&reference=C&alternative=T
  response:
    body:
      string: '{"server_version":"0.39.0","query":{"genome_release":"grch38","chromosome":"12","pos":102851734,"reference":"C","alternative":"T"},"result":{"cadd":{"Chrom":"12","Pos":102851734,"Ref":"C","Alt":"T","Type":"SNV","Length":0,"AnnoType":"CodingTranscript","Con[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_004333.4(BRAF):c.735A%3ET&assembly=GRCh38
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh38","contig":"7","pos":140801537,"reference_deleted":"T","alternate_inserted":"A"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/annonars/annos/variant?genome_release=grch38&chromosome=7&pos=140801537&reference=T&alternative=A
  response:
    body:
      string: '{"server_version":"0.39.0","query":{"genome_release":"grch38","chromosome":"7","pos":140801537,"reference":"T","alternative":"A"},"result":{"cadd":{"Chrom":"7","Pos":140801537,"Ref":"T","Alt":"A","Type":"SNV","Length":0,"AnnoType":"CodingTranscript","Conseq[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch38&chromosome=7&position=140801537&reference=T&alternative=A
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch38","chromosome":"7","position":140801537,"reference":"T","alternative":"A","hgnc_id":null},"result":[{"consequences":["missense_variant"],"putative_impact":"MODERATE","gene_sym[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/annonars/annos/variant?genome_release=grch38&chromosome=7&pos=140801537&reference=T&alternative=C
  response:
    body:
      string: '{"server_version":"0.39.0","query":{"genome_release":"grch38","chromosome":"7","pos":140801537,"reference":"T","alternative":"C"},"result":{"cadd":{"Chrom":"7","Pos":140801537,"Ref":"T","Alt":"C","Type":"SNV","Length":0,"AnnoType":"CodingTranscript","Conseq[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/annonars/annos/variant?genome_release=grch38&chromosome=7&pos=140801537&reference=T&alternative=G
  response:
    body:
      string: '{"server_version":"0.39.0","query":{"genome_release":"grch38","chromosome":"7","pos":140801537,"reference":"T","alternative":"G"},"result":{"cadd":{"Chrom":"7","Pos":140801537,"Ref":"T","Alt":"G","Type":"SNV","Length":0,"AnnoType":"CodingTranscript","Conseq[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/annonars/annos/variant?genome_release=grch38&chromosome=7&pos=140801537&reference=T&alternative=T
  response:
    body:
      string: '{"server_version":"0.39.0","query":{"genome_release":"grch38","chromosome":"7","pos":140801537,"reference":"T","alternative":"T"},"result":{"cadd":null,"dbsnp":null,"dbnsfp":null,"dbscsnv":null,"gnomad_mtdna":null,"gnomad_exomes":null,"gnomad_genomes":null,[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_005633.3(SOS1):c.1656G%3ET&assembly=GRCh38
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh38","contig":"2","pos":39022772,"reference_deleted":"C","alternate_inserted":"A"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch38&chromosome=2&position=39022772&reference=C&alternative=A
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch38","chromosome":"2","position":39022772,"reference":"C","alternative":"A","hgnc_id":null},"result":[{"consequences":["missense_variant"],"putative_impact":"MODERATE","gene_symbo[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_000277.3(PAH):c.865G%3EA&assembly=GRCh38
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh38","contig":"12","pos":102851734,"reference_deleted":"C","alternate_inserted":"T"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch38&chromosome=12&position=102851734&reference=C&alternative=T
  response:
    body:
[...]
