interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/annonars/annos/variant?genome_release=grch37&chromosome=3&pos=178936091&reference=C&alternative=T
  response:
    body:
      string: '{"server_version":"0.39.0","query":{"genome_release":"grch37","chromosome":"3","pos":178936091,"reference":"C","alternative":"T"},"result":{"cadd":null,"dbsnp":null,"dbnsfp":null,"dbscsnv":null,"gnomad_mtdna":null,"gnomad_exomes":null,"gnomad_genomes":null,"helixmtdb":null,"ucsc_conservation":[{"records":[{"chrom":"3","start":178936091,"stop":178936091,"hgncId":"HGNC:8975","enstId":"ENST00000263967","exonNum":9,"exonCount":20,"alignment":"EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE-"}]}],"clinvar":null}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/annonars/annos/range?genome_release=grch37&chromosome=3&start=178936066&stop=178936116
  response:
    body:
      string: '{"server_version":"0.39.0","query":{"genome_release":"grch37","chromosome":"3","start":178936066,"stop":178936116},"result":{"cadd":{"Chrom":"3","Pos":178936066,"Ref":"A","Alt":"C","Type":"SNV","Length":0,"AnnoType":"CodingTranscript","Consequence":"SYNONYMOUS","ConsScore":5,"ConsDetail":"synonymous","GC":0.384,"CpG":0.013,"motifECount":null,"motifEName":null,"motifEHIPos":null,"motifEScoreChng":null,"oAA":"T","nAA":"T","GeneID":"ENSG00000121879","FeatureID":"ENST00000263967","GeneName":"PIK3CA","CCDS":"CCDS43171.1","Intron":null,"Exon":"10/21","cDNApos":1765,"relcDNApos":0.194,"CDSpos":1608,"relCDSpos":0.501,"protPos":536,"relProtPos":0.502,"Domain":"ndomain","Dst2Splice":null,"Dst2SplType":null,"minDistTSS":69755,"minDistTSE":21816,"SIFTcat":null,"SIFTval":null,"PolyPhenCat":null,"PolyPhenVal":null,"priPhCons":0.977,"mamPhCons":0.987,"verPhCons":0.873,"priPhyloP":0.379,"mamPhyloP":-0.674,"verPhyloP":-0.608,"bStatistic":440,"targetScan":null,"mirSVR-Score":null,"mirSVR-E":null,"mirSVR-Aln":null,"cHmmTssA":0.0,"cHmmTssAFlnk":0.0,"cHmmTxFlnk":0.0,"cHmmTx":0.016,"cHmmTxWk":0.913,"cHmmEnhG":0.0,"cHmmEnh":0.0,"cHmmZnfRpts":0.0,"cHmmHet":0.0,"cHmmTssBiv":0.0,"cHmmBivFlnk":0.0,"cHmmEnhBiv":0.0,"cHmmReprPC":0.0,"cHmmReprPCWk":0.0,"cHmmQuies":0.071,"GerpRS":614.0,"GerpRSpval":9.9945e-137,"GerpN":5.78,"GerpS":-5.24,"TFBS":1,"TFBSPeaks":1,"TFBSPeaksMax":30.4493,"tOverlapMotifs":null,"motifDist":null,"Segway":"F0","EncH3K27Ac":2.0,"EncH3K4Me1":3.52,"EncH3K4Me3":4.24,"EncExp":83.7,"EncNucleo":2.1,"EncOCC":null,"EncOCCombPVal":null,"EncOCDNasePVal":null,"EncOCFairePVal":null,"EncOCpolIIPVal":null,"EncOCctcfPVal":null,"EncOCmycPVal":null,"EncOCDNaseSig":null,"EncOCFaireSig":null,"EncOCpolIISig":null,"EncOCctcfSig":null,"EncOCmycSig":null,"Grantham":null,"SpliceAI-acc-gain":0.0,"SpliceAI-acc-loss":0.0,"SpliceAI-don-gain":0.0,"SpliceAI-don-loss":0.0,"MMSp_acceptorIntron":0.0,"MMSp_acceptor":0.0,"MMSp_exon":-0.07,"MMSp_donor":0.0,"MMSp_donorIntron":0.0,"Dist2Mutation":52,"Freq100bp":0,"Rare100bp":0,"Sngl100bp":4,"Freq1000bp":3,"Rare1000bp":4,"Sngl1000bp":38,"Freq10000bp":21,"Rare10000bp":35,"Sngl10000bp":449,"dbscSNV-ada_score":null,"dbscSNV-rf_score":null,"RawScore":0.596359,"PHRED":10.28},"dbsnp":[{"chrom":"3","pos":178936067,"refAllele":"C","altAllele":"A","rsId":745327633},{"chrom":"3","pos":178936074,"refAllele":"C","altAllele":"G","rsId":121913285},{"chrom":"3","pos":178936082,"refAllele":"G","altAllele":"A","rsId":121913273},{"chrom":"3","pos":178936082,"refAllele":"G","altAllele":"C","rsId":121913273},{"chrom":"3","pos":178936083,"refAllele":"A","altAllele":"C","rsId":1057519927},{"chrom":"3","pos":178936083,"refAllele":"A","altAllele":"G","rsId":1057519927},{"chrom":"3","pos":178936083,"refAllele":"A","altAllele":"T","rsId":1057519927},{"chrom":"3"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/seqvars/csq?genome_release=grch37&chromosome=3&position=178936091&reference=C&alternative=T
  response:
    body:
      string: '{"version":{"tx_db":"0.25.1","mehari":"0.25.7"},"query":{"genome_release":"grch37","chromosome":"3","position":178936091,"reference":"C","alternative":"T","hgnc_id":null},"result":[{"consequences":["stop_gained"],"putative_impact":"HIGH","gene_symbol":"PIK3CA","gene_id":"HGNC:8975","feature_type":{"SoTerm":{"term":"Transcript"}},"feature_id":"NM_006218.4","feature_biotype":"Coding","feature_tag":["ManeSelect"],"rank":{"ord":10,"total":21},"hgvs_t":"c.1633G>T","hgvs_p":"p.E545*","tx_pos":{"ord":1956,"total":9259},"cds_pos":{"ord":1633,"total":3207},"protein_pos":{"ord":545,"total":1069},"distance":0,"messages":null}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/mehari/genes/txs?hgncId=HGNC:8975&genomeBuild=GENOME_BUILD_GRCH37
  response:
    body:
      string: '{"transcripts":[{"id":"NM_006218.4","geneSymbol":"PIK3CA","geneId":"HGNC:8975","biotype":"TRANSCRIPT_BIOTYPE_CODING","tags":["TRANSCRIPT_TAG_MANE_SELECT","TRANSCRIPT_TAG_REF_SEQ_SELECT"],"protein":"NP_006209.2","startCodon":323,"stopCodon":3530,"genomeAlignments":[{"genomeBuild":"GENOME_BUILD_GRCH37","contig":"NC_000003.11","cdsStart":178916613,"cdsEnd":178952152,"strand":"STRAND_PLUS","exons":[{"altStartI":178866144,"altEndI":178866391,"altCdsStartI":1,"altCdsEndI":247,"cigar":"247M"},{"altStartI":178916537,"altEndI":178916965,"ord":1,"altCdsStartI":248,"altCdsEndI":675,"cigar":"428M"},{"altStartI":178917477,"altEndI":178917687,"ord":2,"altCdsStartI":676,"altCdsEndI":885,"cigar":"210M"},{"altStartI":178919077,"altEndI":178919328,"ord":3,"altCdsStartI":886,"altCdsEndI":1136,"cigar":"251M"},{"altStartI":178921331,"altEndI":178921577,"ord":4,"altCdsStartI":1137,"altCdsEndI":1382,"cigar":"246M"},{"altStartI":178922290,"altEndI":178922376,"ord":5,"altCdsStartI":1383,"altCd[...]
