interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_000257.3(MYH7):c.3036C%3ET&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"14","pos":23892819,"reference_deleted":"G","alternate_inserted":"A"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/annonars/annos/variant?genome_release=grch37&chromosome=14&pos=23892819&reference=G&alternative=A
  response:
    body:
      string: '{"server_version":"0.39.0","query":{"genome_release":"grch37","chromosome":"14","pos":23892819,"reference":"G","alternative":"A"},"result":{"cadd":{"Chrom":"14","Pos":23892819,"Ref":"G","Alt":"A","Type":"SNV","Length":0,"AnnoType":"CodingTranscript","Consequence":"SYNONYMOUS","ConsScore":5,"ConsDetail":"synonymous","GC":0.53,"CpG":0.013,"motifECount":null,"motifEName":null,"motifEHIPos":null,"motifEScoreChng":null,"oAA":"A","nAA":"A","GeneID":"ENSG00000092054","FeatureID":"ENST00000355349","GeneName":"MYH7","CCDS":"CCDS9601.1","Intron":null,"Exon":"24/40","cDNApos":3199,"relcDNApos":0.526,"CDSpos":3036,"relCDSpos":0.523,"protPos":1012,"relProtPos":0.523,"Domain":"ncoils","Dst2Splice":null,"Dst2SplType":null,"minDistTSS":12109,"minDistTSE":10872,"SIFTcat":null,"SIFTval":null,"PolyPhenCat":null,"PolyPhenVal":null,"priPhCons":0.967,"mamPhCons":0.999,"verPhCons":0.999,"priPhyloP":-0.353,"mamPhyloP":0.022,"verPhyloP":0.268,"bStatistic":661,"targetScan":null,"mirSVR-Score":null,"mirSVR-E":null,"mirSVR-Aln":null,"cHmmTssA":0.0,"cHmmTssAFlnk":0.0,"cHmmTxFlnk":0.031,"cHmmTx":0.008,"cHmmTxWk":0.016,"cHmmEnhG":0.0,"cHmmEnh":0.016,"cHmmZnfRpts":0.0,"cHmmHet":0.024,"cHmmTssBiv":0.0,"cHmmBivFlnk":0.0,"cHmmEnhBiv":0.0,"cHmmReprPC":0.024,"cHmmReprPCWk":0.441,"cHmmQuies":0.441,"GerpRS":1767.1,"GerpRSpval":1.37619e-152,"GerpN":5.06,"GerpS":1.06,"TFBS":null,"TFBSPeaks":null,"TFBSPeaksMax":null,"tOverlapMotifs":null,"motifDist":null,"Segway":"TF0","EncH3K27Ac":3.64,"EncH3K4Me1":1.2,"EncH3K4Me3":1.0,"EncExp":175.93,"EncNucleo":3.3,"EncOCC":null,"EncOCCombPVal":null,"EncOCDNasePVal":null,"EncOCFairePVal":null,"EncOCpolIIPVal":null,"EncOCctcfPVal":null,"EncOCmycPVal":null,"EncOCDNaseSig":null,"EncOCFaireSig":null,"EncOCpolIISig":null,"EncOCctcfSig":null,"EncOCmycSig":null,"Grantham":null,"SpliceAI-acc-gain":0.0,"SpliceAI-acc-loss":0.0,"SpliceAI-don-gain":0.0,"SpliceAI-don-loss":0.0,"MMSp_acceptorIntron":0.0,"MMSp_acceptor":0.0,"MMSp_exon":-0.039,"MMSp_donor":0.0,"MMSp_donorIntron":0.0,"Dist2Mutation":141,"Freq100bp":0,"Rare100bp":0,"Sngl100bp":1,"Freq1000bp":3,"Rare1000bp":5,"Sngl1000bp":44,"Freq10000bp":15,"Rare10000bp":53,"Sngl10000bp":500,"dbscSNV-ada_score":null,"dbscSNV-rf_score":null,"RawScore":0.628504,"PHRED":10.55},"dbsnp":{"chrom":"14","pos":23892819,"refAllele":"G","altAllele":"A","rsId":145379951},"dbnsfp":null,"dbscsnv":null,"gnomad_mtdna":null,"gnomad_exomes":{"chrom":"14","pos":23892819,"refAllele":"G","altAllele":"A","vep":[{"allele":"A","consequence":"synonymous_variant","impact":"LOW","symbol":"MYH7","gene":"ENSG00000092054","featureType":"Transcript","feature":"ENST00000355349","featureBiotype":"protein_coding","exon":"24/40","hgvsc":"ENST00000355349.3:c.3036C>T","hgvsp":"ENST00000355349.3:c.3036C>T(p.=)","cdnaPosition":"3199","cdsPosition":"3036","proteinPosition":"1012","aminoAcids":"A","codons":"gcC/gcT","existingVariation":"rs145379951","dbsnpId":"1","strand":"-1","variantClass":"SNV","minimised":"1","symbolSource":"HGNC","hgncId":"7577","canonical":true,"ccds":"CCDS9601.1","ensp":"ENSP00000347507","swissprot":"P12883","trembl":"Q59EV3&L0L5E6&A8CLN2&A8CLL2&A6N931&A6N930","uniparc":"UPI000014019B","genePheno":"1","domains":[{"id":"Coil","source":"Coiled-coils_(Ncoils)"},{"id":"PTHR13140","source":"hmmpanther"},{"id":"PTHR13140","source":"hmmpanther"},{"id":"SSF90257","source":"Superfamily_domains"}],"gmaf":0.0026000000070780516,"afrMaf":0.008297000080347061,"amrMaf":0.0007999999797903001,"easMaf":0.0,"eurMaf":0.0,"sasMaf":0.0020000000949949026,"aaMaf":0.010200000368058681,"eaMaf":0.00019999999494757503,"exacMaf":0.0,"exacAdjMaf":0.0006910000229254365,"exacAfrMaf":0.0015239999629557133,"exacAmrMaf":0.0003843999875243753,"exacEasMaf":0.0015239999629557133,"exacFinMaf":0.0,"exacNfeMaf":0.0,"exacOthMaf":0.0004944999818690121,"exacSasMaf":0.00330400001257658,"pheno":"1","lofInfo":"DE_NOVO_DONOR_MES:-1.14037307571994&EXON_END:23892932&DE_NOVO_DONOR_POS:-66&MUTANT_DONOR_MES:7.76790546632203&EXON_START:23892756&DE_NOVO_DONOR_MES_POS:-65&INTRON_START:23891535&INTRON_END:23892755&DE_NOVO_DONOR_PROB:0.4668223410656"}],"alleleCounts":[{"byPopulation":[{"population":"afr","counts":{"overall":{"ac":3,"an":16256,"af":0.00018454699602443725},"xx":{"ac":3,"an":10070,"af":0.00029791498673148453},"xy":{"an":6186}},"faf95":0.000049769998440751806,"faf99":0.00004949999856762588},{"population":"amr","counts":{"overall":{"ac":38,"an":34592,"af":0.0010985200060531497},"xx":{"ac":21,"an":20270,"af":0.0010360099840909243},"xy":{"ac":17,"an":14322,"af":0.0011869899462908506}},"faf95":0.0008223300101235509,"faf99":0.0008221599855460227},{"population":"asj","counts":{"overall":{"ac":12,"an":10080,"af":0.0011904799612239003},"xx":{"ac":4,"an":4900,"af":0.0008163269958458841},"xy":{"ac":8,"an":5180,"af":0.0015444000018760562}}},{"population":"eas","counts"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_000156.6(GAMT):c.279C%3ET&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"19","pos":1399840,"reference_deleted":"G","alternate_inserted":"A"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_004700.3(KCNQ4):c.720C%3EG&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"1","pos":41285030,"reference_deleted":"C","alternate_inserted":"G"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/annonars/annos/variant?genome_release=grch37&chromosome=1&pos=41285030&reference=C&alternative=G
  response:
    body:
      string: '{"server_version":"0.39.0","query":{"genome_release":"grch37","chromosome":"1","pos":41285030,"reference":"C","alternative":"G"},"result":{"cadd":{"Chrom":"1","Pos":41285030,"Ref":"C","Alt":"G","Type":"SNV","Length":0,"AnnoType":"CodingTranscript","Consequen[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_004985.4(KRAS):c.451-14T%3EC&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"12","pos":25362859,"reference_deleted":"A","alternate_inserted":"G"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/annonars/annos/variant?genome_release=grch37&chromosome=12&pos=25362859&reference=A&alternative=G
  response:
    body:
      string: '{"server_version":"0.39.0","query":{"genome_release":"grch37","chromosome":"12","pos":25362859,"reference":"A","alternative":"G"},"result":{"cadd":{"Chrom":"12","Pos":25362859,"Ref":"A","Alt":"G","Type":"SNV","Length":0,"AnnoType":"Transcript","Consequence"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_005343.3(HRAS):c.510G%3EA&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"11","pos":532696,"reference_deleted":"C","alternate_inserted":"T"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/annonars/annos/variant?genome_release=grch37&chromosome=11&pos=532696&reference=C&alternative=T
  response:
    body:
      string: '{"server_version":"0.39.0","query":{"genome_release":"grch37","chromosome":"11","pos":532696,"reference":"C","alternative":"T"},"result":{"cadd":{"Chrom":"11","Pos":532696,"Ref":"C","Alt":"T","Type":"SNV","Length":0,"AnnoType":"Intergenic","Consequence":"DOWN[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_004333.4(BRAF):c.111G%3EA&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"7","pos":140624393,"reference_deleted":"C","alternate_inserted":"T"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_000152.5(GAA):c.1332T%3EC&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"17","pos":78083749,"reference_deleted":"T","alternate_inserted":"C"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/annonars/annos/variant?genome_release=grch37&chromosome=17&pos=78083749&reference=T&alternative=C
  response:
    body:
      string: '{"server_version":"0.39.0","query":{"genome_release":"grch37","chromosome":"17","pos":78083749,"reference":"T","alternative":"C"},"result":{"cadd":{"Chrom":"17","Pos":78083749,"Ref":"T","Alt":"C","Type":"SNV","Length":0,"AnnoType":"CodingTranscript","Conseq[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_001754.4(RUNX1):c.1317C%3ET&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"21","pos":36164558,"reference_deleted":"G","alternate_inserted":"A"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_001754.4(RUNX1):c.36G%3EA&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"21","pos":36421161,"reference_deleted":"C","alternate_inserted":"T"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_005633.3(SOS1):c.1230G%3EA&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"2","pos":39250339,"reference_deleted":"C","alternate_inserted":"T"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
