interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_000277.2(PAH):c.1092_1094del&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"12","pos":103237528,"reference_deleted":"GAGA","alternate_inserted":"G"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/annonars/annos/variant?genome_release=grch37&chromosome=12&pos=103237528&reference=GAGA&alternative=G
  response:
    body:
      string: '{"server_version":"0.39.0","query":{"genome_release":"grch37","chromosome":"12","pos":103237528,"reference":"GAGA","alternative":"G"},"result":{"cadd":{"Chrom":"12","Pos":103237528,"Ref":"GAGA","Alt":"G","Type":"DEL","Length":3,"AnnoType":"CodingTranscript","Consequence":"INFRAME","ConsScore":6,"ConsDetail":"inframe_deletion","GC":0.471,"CpG":0.026,"motifECount":null,"motifEName":null,"motifEHIPos":null,"motifEScoreChng":null,"oAA":"LL","nAA":"L","GeneID":"ENSG00000171759","FeatureID":"ENST00000553106","GeneName":"PAH","CCDS":"CCDS9092.1","Intron":null,"Exon":"11/13","cDNApos":1565,"relcDNApos":0.38,"CDSpos":1092,"relCDSpos":0.804,"protPos":364,"relProtPos":0.805,"Domain":"lcompl","Dst2Splice":null,"Dst2SplType":null,"minDistTSS":8508,"minDistTSE":37,"SIFTcat":null,"SIFTval":null,"PolyPhenCat":null,"PolyPhenVal":null,"priPhCons":0.011,"mamPhCons":0.043,"verPhCons":0.007,"priPhyloP":0.587,"mamPhyloP":1.971,"verPhyloP":1.172,"bStatistic":816,"targetScan":null,"mirSVR-Score":null,"mirSVR-E":null,"mirSVR-Aln":null,"cHmmTssA":0.0,"cHmmTssAFlnk":0.0,"cHmmTxFlnk":0.0,"cHmmTx":0.016,"cHmmTxWk":0.024,"cHmmEnhG":0.0,"cHmmEnh":0.0,"cHmmZnfRpts":0.0,"cHmmHet":0.047,"cHmmTssBiv":0.0,"cHmmBivFlnk":0.0,"cHmmEnhBiv":0.0,"cHmmReprPC":0.0,"cHmmReprPCWk":0.213,"cHmmQuies":0.701,"GerpRS":367.2,"GerpRSpval":3.10807e-45,"GerpN":5.24,"GerpS":5.24,"TFBS":null,"TFBSPeaks":null,"TFBSPeaksMax":null,"tOverlapMotifs":null,"motifDist":null,"Segway":"H3K9me1","EncH3K27Ac":1.16,"EncH3K4Me1":1.56,"EncH3K4Me3":null,"EncExp":21.87,"EncNucleo":0.9,"EncOCC":null,"EncOCCombPVal":null,"EncOCDNasePVal":null,"EncOCFairePVal":null,"EncOCpolIIPVal":null,"EncOCctcfPVal":null,"EncOCmycPVal":null,"EncOCDNaseSig":null,"EncOCFaireSig":null,"EncOCpolIISig":null,"EncOCctcfSig":null,"EncOCmycSig":null,"Grantham":null,"SpliceAI-acc-gain":0.0,"SpliceAI-acc-loss":0.0,"SpliceAI-don-gain":0.0,"SpliceAI-don-loss":0.0,"MMSp_acceptorIntron":0.0,"MMSp_acceptor":0.0,"MMSp_exon":-0.075,"MMSp_donor":0.0,"MMSp_donorIntron":0.0,"Dist2Mutation":71,"Freq100bp":0,"Rare100bp":0,"Sngl100bp":7,"Freq1000bp":8,"Rare1000bp":2,"Sngl1000bp":58,"Freq10000bp":27,"Rare10000bp":75,"Sngl10000bp":540,"dbscSNV-ada_score":null,"dbscSNV-rf_score":null,"RawScore":0.697451,"PHRED":11.13},"dbsnp":{"chrom":"12","pos":103237528,"refAllele":"GAGA","altAllele":"G","rsId":62516096},"dbnsfp":null,"dbscsnv":null,"gnomad_mtdna":null,"gnomad_exomes":null,"gnomad_genomes":null,"helixmtdb":null,"ucsc_conservation":[{"records":[{"chrom":"12","start":103237528,"stop":103237528,"hgncId":"HGNC:8582","enstId":"ENST00000553106","exonNum":11,"exonCount":13,"alignment":"LLLLLLLLLLLLLLLLLLLLLLLLLLLLL-LLLLLLLLLLLLLLLLLLLLLLFLLLLLLLLL--Q-RQQQQQ--RRQQQVFEKQLLLLLLLLLKLKQLLR"}]}],"clinvar":null}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/annonars/annos/variant?genome_release=grch37&chromosome=12&pos=103237516&reference=CAGCTCCAGGGGGAGA&alternative=C
  response:
    body:
      string: '{"server_version":"0.39.0","query":{"genome_release":"grch37","chromosome":"12","pos":103237516,"reference":"CAGCTCCAGGGGGAGA","alternative":"C"},"result":{"cadd":{"Chrom":"12","Pos":103237516,"Ref":"CAGCTCCAGGGGGAGA","Alt":"C","Type":"DEL",[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://reev.cubi.bihealth.org/internal/proxy/dotty/api/v1/to-spdi?q=NM_000277.1(PAH):c.208_210delTCT&assembly=GRCh37
  response:
    body:
      string: '{"success":true,"value":{"assembly":"GRCh37","contig":"12","pos":103288654,"reference_deleted":"GAGA","alternate_inserted":"G"},"message":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
